# Pandas - Delete Columns from a DataFrame

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('iris.data', names=['A','B','C','D','Label'])
df

       A    B    C    D           Label
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

### 1) to drop a single column
, and saving it permanently df.drop('col_name', axis=1,inplace =True)  
To save changes you must either set df = df.drop(), or add inplace=True.

In [3]:
df.drop('B', axis=1)

       A    C    D           Label
0    5.1  1.4  0.2     Iris-setosa
1    4.9  1.4  0.2     Iris-setosa
2    4.7  1.3  0.2     Iris-setosa
3    4.6  1.5  0.2     Iris-setosa
4    5.0  1.4  0.2     Iris-setosa
..   ...  ...  ...             ...
145  6.7  5.2  2.3  Iris-virginica
146  6.3  5.0  1.9  Iris-virginica
147  6.5  5.2  2.0  Iris-virginica
148  6.2  5.4  2.3  Iris-virginica
149  5.9  5.1  1.8  Iris-virginica

[150 rows x 4 columns]

In [4]:
df

       A    B    C    D           Label
0    5.1  3.5  1.4  0.2     Iris-setosa
1    4.9  3.0  1.4  0.2     Iris-setosa
2    4.7  3.2  1.3  0.2     Iris-setosa
3    4.6  3.1  1.5  0.2     Iris-setosa
4    5.0  3.6  1.4  0.2     Iris-setosa
..   ...  ...  ...  ...             ...
145  6.7  3.0  5.2  2.3  Iris-virginica
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

[150 rows x 5 columns]

### 2) to drop multiple axes by name
df.drop(['col_name1', 'col_name2'], axis=1, inplace=True)

In [5]:
df.drop(['A','Label'], axis=1, inplace=True)
df

       B    C    D
0    3.5  1.4  0.2
1    3.0  1.4  0.2
2    3.2  1.3  0.2
3    3.1  1.5  0.2
4    3.6  1.4  0.2
..   ...  ...  ...
145  3.0  5.2  2.3
146  2.5  5.0  1.9
147  3.0  5.2  2.0
148  3.4  5.4  2.3
149  3.0  5.1  1.8

[150 rows x 3 columns]

### 3) to drop multiple axes by numerical column index
df.drop(df.columns[[idx1, idx2]], axis=1, inplace=True)

In [7]:
df.drop(df.columns[[0, 2]], axis=1, inplace=True)
df

       C
0    1.4
1    1.4
2    1.3
3    1.5
4    1.4
..   ...
145  5.2
146  5.0
147  5.2
148  5.4
149  5.1

[150 rows x 1 columns]